# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific ignores
packaging/
pkg/
src-tauri/target/release/bundle/

# Exclude build and untracked wiki/installation package
Installation package/

wiki/

Data-parameters/

xm/

aur/

scripts/*
!scripts/sync-version.sh
!scripts/build-install-packages.sh
!scripts/aur/
!scripts/aur/**

.cache/
.cache-tauri/